html,
body {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#root {
	height: 100%;
	box-sizing: border-box;
	background: #000428; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#004e92,
		#000428
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#004e92,
		#000428
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.app-container {
	height: 80%;
	width: 80%;
	box-sizing: border-box;
	background-color: #ecfeff;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 3rem;
}
.quill {
	height: 80%;
	box-sizing: border-box;
	width: calc(100% - 300px);
	float: left;
}
.ql-container {
	box-sizing: border-box;
	height: calc(100% - 42px);
	overflow-y: scroll;
}
.ql-editor {
	cursor: text;
}
.MuiListItem-root.Mui-selected {
	background-color: #d4d8e8 !important;
}
.no-note-selected {
	font-size: 48px;
	position: absolute;
	top: 50px;
	left: calc(50% - 165px);
}
